{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}
    Peinados
{% endblock titulo %}

<style>
    .icon-header {
        display: flex;
        align-items: center;
    }

    .icon-header img {
        width: 30px;
        margin-right: 10px;
    }
</style>

{% block cabecera %}
    <h1 class="icon-header">
         Listado de Peinados <img src="{% static 'aplicacion/assets/img/icono2.jpg' %}" alt="Ícono" style="opacity: 0.6;"> 
    </h1>
{% endblock cabecera %}
    
{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio*</th>
            <th>Duración (minutos)</th>
        </tr>
    </thead>
    <tbody>
    {% for peinado in peinados %}
    <tr>
        <td>{{ peinado.id }}</td>
        <td>{{ peinado.nombre }}</td>
        <td>{{ peinado.precio }}</td>
        <td>{{ peinado.duracion_minutos }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<tr>
    <td><strong>* Nuestros precios están expresados en pesos mexicanos.</strong></td>
</tr>
{% endblock contenido %}

